$font-name: "Poppins";
// font-awesome icons
$fa-font-path: "../webfonts";

// colors palette
$white: #ffffff;
$black: #000000;
$blue: #3955ae;
$blue-dark: #1a2b5f;
$yellow: #f5a22e;
$yellow-light: #ffc97c;
$yellow-light-ex: #ffea7b;
$red: #d9473a;
$pink: #d2698f;
$pink-light: #ff97c3;
$gray: #818697;
$gray-light: #f5f2f7;

// vision feature colors
$pink-vs: #ff6adf;
$green-vs: #92fa3c;
$blue-vs: #1ec0f4;
$red-vs: #ff899c;

$bodyColor: $white;

// grid breakpoints
$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

// container breakpoint
$container-xs: 0;
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
$container-xxl: 1320px;

// spacing
$sizes: 1rem;
$spacing-sizes: (
  0: 0rem,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 2rem,
  5: 4rem,
  6: 8rem,
) !default;

$spacing-important: false !default;
